<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table,th,td {
            border: 1px solid black;
            border-spacing: 0cap;
        }
        li {
            margin-right: 50px;
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    <ul style="list-style: none; display: flex;">
        <li><a href="{% url 'create_author' %}">Create Author</a></li>
        <li><a href="{% url 'display_authors' %}">Display Author List</a></li>
        <li><a href="{% url 'books_app:display_books' %}">Display Book List</a></li>
        <li><a href="{% url 'genres:display_genre' %}">Display Genre List</a></li>
        <li><a href="{% url 'accounts:logout' %}">LogOut</a></li>
    </ul>
    {% block content %}
      
    {% endblock %}
</body>
</html>